.profileContainer {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 250px;
    background: #ECECF9;
}

.content {
    width: calc(100% - 260px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 30px; /* всегда вопрос с падингами и марджинами. по БЭМ марджины детей */
}